.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
}
.clearfix:after {
  clear: both;
}
.input-text {
  box-sizing: border-box;
  height: 32px;
  padding: 4px;
}
.input-text.has-clear {
  padding-right: 30px;
}
.clear-input-wrapper {
  position: relative;
}
.clear-input {
  position: absolute;
  top: -2px;
  right: 4px;
  left: auto;
  cursor: pointer;
  z-index: 600;
  background-image: url(../img/close.png);
  width: 24px;
  height: 24px;
}
body {
  background-color: #bada55;
}
.floater {
  float: left;
}
.lala:before,
.lala:after {
  content: '';
  display: table;
}
.lala:after {
  clear: both;
}
